<section id="about" class="about">
    <div class="about__wrapper flow">
        <h3 class="about__title">
            <i class="fa-solid fa-chevron-left"></i>
                About Me
            <i class="fa-solid fa-chevron-right"></i>
        </h3>
        <div class="about__content">
            <figure class="person frame" data-frame="framing">
                <img class="person__details radius" src="/images/moi.jpg" alt="my avatar displayed as my image in the about section">
            </figure>
            <div class="about__details flow">
                <h4 class="about__lede">I'm a front-end developer seeking a full-time role where I can help an organization achieve their goals.</h4>
                    <p>My journey into web development traces back to my early encounter with a Commodore 64, igniting a lifelong fascination with technology. However, it was Jennifer Robbin's influential <a target="_blank" href="https://www.amazon.com/Learning-Web-Design-Beginners-JavaScript-dp-1491960205/dp/1491960205/ref=dp_ob_title_bk">web design book</a> that sparked my enthusiasm for crafting digital experiences, and I've been immersed in the world of web development ever since.</p>
                    <p>Continuously honing my skills in HTML, CSS, and JavaScript, I specialize in designing visually captivating websites that prioritize seamless user experiences. Recently, I've delved into the realm of static-site generators to enhance site performance and scalability, always seeking new ways to elevate the quality of my work.</p>
                    <p>Beyond coding, I find inspiration in literature, thought-provoking podcasts, and British crime dramas. These diverse interests enrich my creativity and inform my problem-solving approach, infusing a unique perspective into my development projects.</p>
                    <p>I'm eager to bring my technical expertise and innovative spirit to a collaborative team dedicated to pushing the boundaries of web development. Let's create something remarkable together!</p>
            </div>
        </div>
    </div>    
</section>