<section id="contact" class="contact">
            <div class="contact__wrapper">
                <h3 class="contact__title flow">Let's Connect.</h3>
                <div class="contact__lede">
                    <p>Get in touch if I seem a good fit.</p>
                    <p>I'm open to explore new opportunities</p>
                </div>
                <div class="contact__details">
                    <div class="contact__email">
                        <p>Email me at</p>
                        <p class="contact__email email">
                            <a href="mailto:hi@lungowesimasiku.com">hi@lungowesimasiku.com</a>
                        </p>
                    </div>
                    <div class="contact__socials">
                        <p>Follow me</p>
                        <div class="contact__social social-links">
                            <a href="https://github.com/Lungowe-S">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/lungowe-simasiku/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
