<section class="hero">
    <div class="hero__wrapper">
        <div class="hero__content flow">
            <h1>Hello, I'm Lungowe!</h1>
            <h2>I'm a <span>front-end developer</span> with a passion for creating engaging, responsive websites that delight users.</h2>
        </div>
        <div class="hero__contact">
            <div class="hero__social social-links">
                <a target="_blank" href="https://github.com/Lungowe-S">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/lungowe-simasiku/">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
                <p class="hero__email email">
                    <a href="mailto:hi@lungowesimasiku.com">hi@lungowesimasiku.com</a>
                </p>
        </div>
    </div>
</section>