<section class="skills" id="skills">
            <div class="skills_wrapper flow">
                <h3>
                    <i class="fa-solid fa-chevron-left fa-skills1"></i>
                    Skills
                    <i class="fa-solid fa-chevron-right fa-skills2"></i>
                </h3>
                <h4 class="skills__subheading">Developer Skills</h4>
                <div class="dev__skills">
                    <div class="skill">
                        <i class="fa-brands fa-html5"></i>
                        <p>HTML</p>
                    </div>
                    <div class="skill">
                        <i class="fa-brands fa-css3-alt"></i>
                        <p>CSS</p>
                    </div>
                    <div class="skill">
                        <i class="fa-brands fa-js"></i>
                        <p>JavaScript</p>
                    </div>
                    <div class="skill">
                        <i class="fa-brands fa-react"></i>
                        <p>React</p>
                    </div>
                    <div class="skill">
                        <i class="fa-brands fa-sass"></i>
                        <p>Sass</p>
                    </div>
                </div>
                <h4 class="skills__subheading">Tools</h4>
                <div class="tools">
                    <div class="tool">
                        <i class="fa-brands fa-github"></i>
                        <p>GitHub</p>
                    </div>
                    <div class="tool">
                        <i class="fa-brands fa-figma"></i>
                        <p>Figma</p>
                    </div>
                    <div class="tool">
                        <i class="fa-brands fa-git-alt"></i>
                        <p>Git</p>
                    </div>
                </div>
            </div>
        </section>